body, html {
    height: 100%;
    color: indigo;
}
.bg {
    /* The image used */
    background-image: url("https://cdn.shopify.com/s/files/1/1280/7359/products/fc-ac14_1.jpg?v=1510612363");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h1 {
    margin: 0;
    padding-top: 15px;
}

header {
    height: 150px;
}

.icon {
    float: left; margin: 0px 15px 15px 0px;
    width: 150px;
    height: 150px;
}

.container {
    max-width: 780px;
    margin: 0 auto;
}

p {
    margin: 0;
}